@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap";

// overridden styles

$display-1-size: 3rem;

// custom styles

.navbar {
  background: $black;
  color: white;
}

.background {
  background-image: linear-gradient(to bottom, $black, $purple-800);
  width: 100vw;
  height: 100vh;
}

.home-container {
  display: flex;
  padding: 10%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  // border: 1rem solid white;
  // border-style: double;
}

.home-child {
  flex: 1;
  margin-right: 70px; /* Adjust the margin as needed */
}

.code-text {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;

  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;

  letter-spacing: .15em;
  position: relative;
}

.contact-button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.contact-button:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  fill: #f09fc2;
}

.hamburger:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

.page-link {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.1em !important;
}

.page-link:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
  color: #f09fc2;
}